PySide6>=6.6.0
django>=5.1
requests>=2.31.0
pydantic>=2.5.0
rich>=13.0.0
croniter>=2.0.0
python-dateutil>=2.8.2
python-statemachine
django-ninja
django-extensions
django-signal-webhooks
django-admin-data-views
django-object-actions
django-taggit
feedparser
dateparser
w3lib
yt-dlp
gallery-dl
python-benedict
django-stubs
django-stubs-ext
tzdata
humanize
base32-crockford
atomicwrites
python-magic
daphne
channels
playwright
pytest-playwright
rich-click
pydantic-settings
python-crontab
toml
py-machineid
uuid6
psutil
pysqlite3-binary
sqlite-utils
python-dotenv
