PySide6>=6.6.0
django>=5.0
requests>=2.31.0
pydantic>=2.5.0
rich>=13.0.0
croniter>=2.0.0
python-dateutil>=2.8.2
# ArchiveBox critical deps
python-statemachine
django-ninja
django-extensions
django-signal-webhooks
django-admin-data-views
django-object-actions
django-taggit
feedparser
dateparser
w3lib
yt-dlp
gallery-dl
python-benedict
django-extensions
django-signal-webhooks
django-stubs
django-stubs-ext
tzdata
humanize
base32-crockford
atomicwrites
python-magic
daphne
channels
django-ninja
django-extensions
django-signal-webhooks
